@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
	font-family: 'Nunito';
	
}


h1{
	font-size: 50px;
	color: rgb(63, 110, 197);
	text-transform: uppercase;
	font-family: fantasy;
	font-weight: 700;
	
	float:left;

}


a{
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

a:hover{
	font-size: 25px;
	color: black
}

h2{
	font-size: 30px;
}

p, ul, li{
	font-size: 22px;
	color: rgb(0, 0, 0);
}


